header {
    background-color: #EEEFF1;
    margin-bottom: 50px;

    .head-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 1120px;
        margin: 0 auto;

        menu {
            display: flex;
            gap: 20px;
            max-width: 100%;
            padding: 80px 0;

            a {
                text-decoration: none; 
            }

            p {
                font-size: 16px;
            }
        }
    }

    span {
        font-size: 16px;
        max-width: 540px;
        line-height: 26px;
        font-weight: 400;
    }

    button {
        background-color: #34547A;
        color: #fff;
        font-size: 16px;
        text-align: center;
        width: 225px;
        height: 65px;
        margin-top: 60px;
        margin-bottom: 140px;
        border: 1px solid rgb(225, 225, 225, 0);
    }
}

@media screen and (max-width: 431px) {

    header {
        width: 100vw;

        h1 {
            display: flex;
            justify-content: center;
            font-size: 36px;
        }

        span {
            text-align: center;
            max-width: 90vw;
            font-size: 20px;
        }

        .head-wrapper {
            padding: 20px 20px;

            menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                word-spacing: 0;
                padding: 15px 0;

                p {
                    font-size: 22px;

                }
            }

            button {
                display: flex;
                justify-content: center;
                background-color: #34547A;
                color: #fff;
                font-size: 20px;
                text-align: center;
                width: 200px;
                height: 55px;
                margin: 25px auto;
                padding: 15px 30px;
            }
        }
    }
}

@media screen and (max-width: 1025px) {

    header {
        width: 100vw;

        h1 {
            display: flex;
            justify-content: center;
            font-size: 36px;
        }

        span {
            margin: 0 auto;
            text-align: center;
            max-width: 70vw;
            font-size: 20px;
        }

        .head-wrapper {
            padding: 20px 20px;

            menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                word-spacing: 0;
                padding: 15px 0;

                p {
                    font-size: 22px;

                }
            }

            button {
                display: flex;
                justify-content: center;
                background-color: #34547A;
                color: #fff;
                font-size: 20px;
                text-align: center;
                width: 200px;
                height: 55px;
                margin: 25px auto;
                padding: 15px 30px;
            }
        }
    }
}