body {
    width: 1440px;
    margin: 0 auto;
    font-weight: 500;
}

header {
    margin: 0 auto;
}

.wrapper {
    display: flex;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    border: 4px solid #000;
}


.left-12345678 {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    text-align: center;

        span {
            width: 50px;
            height: 100px;
        }
}

.right-12345678 {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    text-align: center;

        span {
            width: 50px;
            height: 100px;
        }
}

main {
    width: 800px;
    height: 800px;

    .abcdefgh-top {
        height: 55px;
        display: flex;
        border: 0px;
        text-align: center;
        font-size: 40px;
    }

    div {
        border-left: 3px solid #000;
        border-right: 3px solid #000;
    }

    span {
        display: block;
        width: 100px;
        height: 100px;
    }

    .row-1 {
        border-top: 3px solid #000;
    }

    .row-8 {
        border-bottom: 3px solid #000;
    }

    .row-1,
    .row-3,
    .row-5,
    .row-7 {
        display: inline-flex;
        background: #000;
        margin-top: -5px;
        padding: 0;
        span:nth-child(2n) {
            background: #fff;
        }
    }

    .row-2,
    .row-4,
    .row-6,
    .row-8 {
        display: inline-flex;
        margin-top: -5px;
        background: #fff;
        padding: 0;
        span:nth-child(2n) {
            background: #000;
        }
    }

    .abcdefgh-bottom {
        height: 55px;
        display: flex;
        border: 0px;
        text-align: center;
        font-size: 40px;
    }
}

footer {
    margin: 0 auto;
}