body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #E3F2FD;
}

body {
    background-image: url(./images/default-cover.avif);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.weather-app {
    max-width: 960px;
    min-width: 400px;
    margin: 0 auto;
    background: #ffffff69;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.app-header, .app-footer {
    background: #0d47a17d;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.weather-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.weather-info.hidden {
    display: none;
}

.card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modern-button {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.modern-button:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.modern-button:active {
    transform: translateY(1px);
}

form {
    background-color: #faebd778;
    text-align: center;
}
