.features {
    display: flex;
    width: 1120px;
    margin: 150px auto;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    article {
        max-width: 427px;
        margin: 5px 0;
    }

    ul {
        list-style-image: url('../icons/bx_bxs-check-circle.svg');
        display: inline-flex;
        flex-direction: column;
        padding-inline-start: 0px;
    }

    p {
        display: flex;
        position: relative;
        justify-content: flex-start;
        bottom: 37px;
        left: 30px;
    }
}

.info_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;

    li {
        max-height: 40px;
        margin: 0 5px 0 0;
        list-style-position: inside;
        font-size: 14px;
        animation: swim  0.7s alternate-reverse infinite;
    }
}

.image {
    background: url("../assets/Illustration\ 2.png") no-repeat;
    width: 611px;
}