.map {
    max-width: 1190px;
    margin: 0 auto;
    text-align: center;

    h2 {
        margin: 0 auto;
    }

    article {
        max-width: 555px;
        margin: 20px auto;
        font-size: 16px;
        color: #4F5665;
        font-weight: 400;
        line-height: 30px;
    }
}