.decoration {
    position: relative;
    top: 120px;
    left: 150px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.hero-services {
    max-width: 1120px;
    margin: 0 auto;

    h3 {
        width: 181px;
    }

    p {
        margin-bottom: 10px;
        color: #5E6282;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
}


.category {
    width: 267px;
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    div {
        padding: 45px 43px;
        width: 190px;
        height: 290px;
        display: flex;
        gap: 15px;
        justify-content: baseline;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    p {
        margin: 0 auto;
        max-width: 181px;
    }

    object {
        margin: 0 auto;
        padding-bottom: 29px;
    }
}


.icon-weather {
    width: 166px;
    height: 153px;
    margin: 0 auto;
    background: url(icons/weather.svg) no-repeat;
}

.icon-plane {
    width: 166px;
    height: 153px;
    margin: 0 auto;
    background: url(icons/plane.svg) no-repeat;
}

.icon-settings {
    width: 166px;
    height: 153px;
    margin: 0 auto;
    background: url(icons/settings.svg) no-repeat;
}

.icon-micro {
    width: 166px;
    height: 153px;
    margin: 0 auto;
    background: url(icons/micro.svg) no-repeat;
}

.active {
    background: #FFF;
    position: relative;
    bottom: 45px;
    width: 267px;
    border-radius: 36px;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);

        object {
            padding-bottom: 0;
        }
}

.rectangle object{
    z-index: -1;
    position: absolute;
    top: 310px;
    right: 200px;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 30px 0px 10px 0px;
    background: #DF6951;
    animation: elastic-spin 1s infinite ease;
}